@tailwind base;
@tailwind components;
@tailwind utilities;

.bubble {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
  border-radius: 50%;
  animation: float var(--time) ease-in-out infinite;
  width: var(--size);
  height: var(--size);
  left: var(--left);
  animation-delay: var(--delay);
}

@keyframes float {
  0%, 100% {
    transform: translateY(100vh) scale(0);
  }
  50% {
    transform: translateY(0) scale(1);
  }
} 